<ng-container *ngIf="vm$ | async as vm">
  <h1>Users</h1>

  <!-- <div>Add a User</div>
  <input #user type="text" (change)="addState.next(user.value)" />
  <hr /> -->

  <user-form (OnUserChanged)="userChanged($event)"></user-form>

  <user-list
    (OnUserDetail)="detail($event)"
    (OnUserDelete)="delete($event)"
    [users]="vm.items"
  ></user-list>

  <user-detail [user]="vm.selectedItem" (OnDetailClose)="detailClose($event)">
    {{ vm.selectedItem | json }}
  </user-detail>
</ng-container>
