<!-- <hs-users></hs-users> -->
<hs-products></hs-products>
<!-- <hs-toast></hs-toast> -->
<!-- <hs-pagination></hs-pagination> -->

<!--  generic Store sample-->
<!-- <h3>Title: {{ title.value }}</h3>
<h3>Url: {{ url.value }}</h3>
<pre>store changes: {{ changes$ | async | json }}  </pre>
<pre>store : {{ store.getState() | async | json }}  </pre>
<div>
  <input type="text" #url />
</div>
<div>
  <input type="text" #title />
</div>
<button (click)="store.updateState({ url: url.value, title: title.value })">
  Update Title
</button> -->
