<div *ngIf="vm$ | async as vm">
  <!-- search -->
  <h3>Product Search:</h3>
  <pre>Search Items:  {{ vm.searchItems | json }} </pre>


  <product-search
    (OnItemSearch)="handleSearchItem($event)"
  ></product-search>

  <h3>Products</h3>
  <!-- form -->
  <product-form (OnAdded)="handleAdd($event)"></product-form>

  <h3>Pagination</h3>
  <hs-pagination
    (pageItemsChanged)="handlePageItemsChange($event)"
    [_pageItems]="vm.items"
    [_pageCount]="vm.items.length"
    [_pageSize]="5">
  </hs-pagination> 

  <!-- list // pageination.pageitems -->
  <product-list 
    (OnSelected)="handleDetail($event)"
    (OnDeleted)="handleDelete($event)"
    [items]="vm.items"
  ></product-list>

  <!-- detail -->
  <pre>Detail:  {{ vm.selectedItem | json }} </pre>
  <product-detail
    (OnDetailClose)="handleDetailClose()"
    [item]="vm.selectedItem"
  ></product-detail>
</div>

<router-outlet></router-outlet>
